.map-container {
  position: relative;
  width: 4096px;
  height: 1447px;
}

.kingdom-image {
  display: block;
  width: 100%;
  height: 100%;
}

.kingdom-map {
  position: absolute; 
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.hex-text{
  font: italic 4px serif;
  fill: red;
  color: aquamarine;
}