.map-container {
  position: relative;
  width: 4096px;
  height: 1447px;
}

.kingdom-image {
  display: block;
  width: 100%;
  height: 100%;
}

.kingdom-map {
  position: absolute; 
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.hex-icon {
  stroke-width: 4%;
  stroke: black;
  stroke-opacity: 0.6;
  scale: 0.02;
  fill-opacity: 1;
}

.hex-roads {
  display: block;
  scale: 0.095;
  opacity: 0.5;
}

@for $i from 0 through 5 {
  .hex-roads-#{$i} {
    transform: rotate(calc(30deg + $i*60deg)) translate(-57.8%, -50%);
  }
}

.hex-danger {
  transform: translate(-100%, -100%);
}

.hex-feature {
  transform: translateX(-100%);
}
