.map-hex {
    stroke-width: 0.11%;
}

.map-hex:hover {
    fill: #4499a9;
    fill-opacity: 0.6;
}

.hex-icon {
    stroke-width: 2%;
    stroke: darkgray;
    stroke-opacity: 0.6;
    fill-opacity: 1;
}

.hex-roads {
    display: block;
    scale: 0.675;
    opacity: 0.4;
    filter: hue-rotate(5deg) saturate(120%);
}

@for $i from 0 through 5 {
    .hex-roads-#{$i} {
        transform: rotate(calc(30deg + $i*60deg)) translate(-2.8%, -7.2%);
    }
}

.hex-text {
    stroke-width: 1;
    stroke: beige;
    fill: blanchedalmond;
    fill-opacity: 1;
}
